In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv(r"C:\Users\Kenny\Desktop\7th sem mini\Data.csv")
data

,SL NO,From Date,PM2.5,PM10,NO,NO2,Nox,NH3,SO2,CO,Ozone,Benzene,Eth-Benzene,MP-Xylene,WS,WD,SR,BP,AT,RF
0,1,18-02-2019 00:00,58.04,81.06,1.81,6.4,9.66,27.18,13.77,0.49,15.73,0.92,None,0.33,1.86,229.44,0.22,1002.19,20.87,0
1,2,18-02-2019 01:00,60,82.39,1.91,6.08,9.7,26.46,13.64,0.44,18.36,0.84,None,0.29,1.54,217.2,1.46,956,18.92,0.24
2,3,18-02-2019 02:00,55.5,73.42,2.22,6.71,10.86,27.06,13.64,0.44,34.54,0.77,None,0.23,0.66,197.21,None,1001.6,18.33,0
3,4,18-02-2019 03:00,66.56,96.04,2.79,7,12.1,26.34,13.72,0.45,31.85,0.82,None,0.21,0.61,206.44,None,1001.41,17.63,0
4,5,18-02-2019 04:00,67.08,97.21,3.29,9.45,15.53,25.16,13.8,0.47,24.07,0.74,None,0.22,0.54,230.53,None,980.67,16.61,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33062,33063,30-12-2022 20:00,295.72,371.83,5.54,2.62,5.41,16.13,13.91,2.64,22.82,2.96,3.16,3.37,0.31,168.12,None,1009.22,15.96,0
33063,33064,30-12-2022 21:00,362.6,448.5,5.61,2.62,5.46,17.45,13.88,2.79,5.66,3.12,3.34,3.56,0.69,132.27,11.17,967.18,14.93,0.48
33064,33065,30-12-2022 22:00,277.86,353.78,5.52,2.46,5.29,17.92,13.74,3.25,22.64,3.64,3.89,4.15,0.36,173.64,None,1009.11,15.22,0
33065,33066,30-12-2022 23:00,380,450.48,5.46,2.47,5.32,18.01,14.12,3.28,7.07,3.68,3.94,4.21,0.82,163.19,9.57,912.74,13.45,1.09
33066,33067,31-12-2022 00:00,295,389,None,None,None,None,None,None,None,None,4,4.27,0.43,109.33,None,None,14.6,0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33067 entries, 0 to 33066
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SL NO        33067 non-null  int64
 1   From Date    33067 non-null  object
 2   PM2.5        33067 non-null  object
 3   PM10         33067 non-null  object
 4   NO           33067 non-null  object
 5   NO2          33067 non-null  object
 6   Nox          33067 non-null  object
 7   NH3          33067 non-null  object
 8   SO2          33067 non-null  object
 9   CO           33067 non-null  object
 10  Ozone        33067 non-null  object
 11  Benzene      33067 non-null  object
 12  Eth-Benzene  33067 non-null  object
 13  MP-Xylene    33067 non-null  object
 14  WS           33067 non-null  object
 15  WD           33067 non-null  object
 16  SR           33067 non-null  object
 17  BP           33067 non-null  object
 18  AT           33067 non-null  object
 19  RF           33067 non-null  object
dtypes: int64(1), object(19)
memory usage: 5.0+ MB

In [5]:
data.describe()

              SL NO
count  33067.000000
mean   16534.000000
std     9545.765012
min        1.000000
25%     8267.500000
50%    16534.000000
75%    24800.500000
max    33067.000000